<?xml version="1.0"?>
<connectionStrings>
	<clear/>
	<!--User attached versions-->
	<!--<add name="CMS" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|SubSonicCMS.MDF" />
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|ASPNETDB.MDF" />-->
	<!--standard versions-->
	<add name="CMS" connectionString="Data Source=.\SQLExpress;Integrated Security=True;Database=SubSonicCMS"/>
	<add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;Database=ASPNETDB"/>
	<add name="ScheduledTaskAccount" connectionString="domain\user"/>
	<add name="ScheduledTaskAccountPassword" connectionString="password"/>
</connectionStrings>
